<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.esites.easyimagepicker">

    <application>

        <provider
            android:name=".EasyImagePickerFileProvider"
            android:authorities="${applicationId}.EasyImagePickerFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/easy_image_picker_file_paths" />
        </provider>

    </application>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>


</manifest>
